<div>
  <h3> Biggest Losers </h3>
  <!--  query-results-item.component is the only thing that differs
        depending on which query is being run -->
    <table class="table">
      <thead>
        <th>Candidate Name</th>
        <th>Number of Failed Campaigns</th>
      </thead>
      <tbody>
      <tr ng-repeat="item in $ctrl.queryResults">
        <!--  This needs to change depending on query  -->
        <td>{{item.NAME}}</td>
        <td>{{item.NUMCAMPAIGNSLOST}}</td>
      </tr>
    </tbody>
    </table>
</div>
